.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
  background-color: white;

  .title {
    margin: 0;
  }

  svg {
    width: 25px;
    height: 25px;
    color: black;
  }
}
