$BLUE: #0a84ff;
$BLUE_EX: #086acc;
$BLUE_DARK: #23539e;
$BLUE_LIGHT: #6ca2e8;

$RED: #ff4141;
$RED_04: rgba($RED, 0.4);
$RED_02: rgba($RED, 0.2);
$RED_HOVER: #eb0000;

$GREEN: #34c759;
$GREEN_04: rgba($GREEN, 0.4);
$GREEN_02: rgba($GREEN, 0.2);
$GREEN_DARK: #3f7d41;
$GREEN_LIGHT: #85ca8b;
$GREEN_HOVER: #299f47;

$YELLOW: #ffb241;
$YELLOW_DARK: #9c7438;
$YELLOW_LIGHT: #e8c080;

$BLACK: #000000;
$WHITE: #ffffff;
$GRAY_1: #111111;
$GRAY_2: #232323;
$GRAY_4: #4c4c4c;
$GRAY_8: #8c8c8c;
$GRAY_D: #dddddd;
$GRAY_E: #eeeeee;

// Social icon colors
$DISCORD: #5865f2;
$TELEGRAM: #25a4e2;
$TWITTER: #00aeef;
